/* Header.css 수정본 */
header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100%;
}

.logo, .title, nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    justify-content: flex-start;
    margin-left: 30px;
}

nav {
    justify-content: flex-end;
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo img {
    width: 140px;
    height: 70px;
    border-radius: 35px;
    object-fit: cover;
}
