.left-sidebar {
    width: 200px;
    background-color: #003366;
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    top: 0;
    left: 0;
    position: sticky;
    min-height: 200vh;
  }
  
  .left-sidebar .chart-box, .left-sidebar .ranking-box, .left-sidebar .user-info-box {
    background-color: #808080;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .left-sidebar h3 {
    color: #c81b1b;
    padding-bottom: 10px;
    border-bottom: 2px solid #777;
    margin-bottom: 15px;
  }
  
  .left-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .left-sidebar ul li {
    padding: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #fff;
  }
  
  .left-sidebar ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .left-sidebar .user-info-box h3 {
    color: #ffe400;
    padding-bottom: 10px;
    border-bottom: 2px solid #888888;
    margin-bottom: 15px;
  }
  
  .left-sidebar .user-info-box .user-detail p {
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  
  .left-sidebar .user-info-box .user-detail p:last-child {
    margin-bottom: 0;
  }
  