/* MainContent.css */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    width: 80%;
}

.main-content .section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.main-content .section h2 {
    color: #333;
}
