.right-sidebar {
    width: 200px;
    background-color: #003366;
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    top: 0;
    left: 0;
    position: sticky;
    min-height: 200vh;
}
    
.right-sidebar .news-box {
  background-color: #808080;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.right-sidebar .news-box h3 {
  color: #c81b1b;
  padding-bottom: 10px;
  border-bottom: 2px solid #777;
  margin-bottom: 15px;
}

.right-sidebar .news-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.right-sidebar .news-box ul li {
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  color: #fff;
}

.right-sidebar .news-box ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.right-sidebar .ad-banner {
  background-color: #003366; /* 어두운 청색 배경으로 변경 */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 더 약한 박스 그림자로 변경 */
  text-align: center;
}
